@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

snack-bar-container.notification simple-snack-bar {
  font-size: 18px !important;
  font-weight: bold !important;
}

snack-bar-container.success {
  background-color: #5cb85c;
  color: #fff;
}

snack-bar-container.warn {
  background-color: #e24f0a;
  color: #fff;
}

.search-div {
  margin: 10px;
}

.search-form-field {
  width: 60%;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.search-form-field div.mat-form-field-underline {
  display: none;
}

.search-form-field div.mat-form-field-infix {
  border-top: 0px;
}

.search-form-field div.mat-form-field-wrapper {
  padding-bottom: 0px;
}

.search-form-field div.mat-form-field-suffix button {
  height: 32px;
  width: 32px;
}

.btn-dialog-close {
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
  border: none !important;
}

tag-input {
  padding-bottom: 10px !important;
}

mat-cell {
  display: initial !important;
}

mat-cell:not(:first-child):not(:last-child) {
  padding: 20px 10px;
}

mat-cell:last-child {
  padding-left: 20px;
}

mat-header-cell:first-child {
  flex: 0.9;
}

mat-cell,
mat-table,
mat-header-cell {
  min-height: initial !important;
}

mat-header-cell:nth-child(2),
mat-header-cell:nth-child(10),
mat-header-cell:nth-child(11) {
  display: initial !important;
}

mat-header-cell:nth-child(2) {
  margin-right: 25px !important;
}

.tag a {
  display: inline-block;
  text-decoration: none;
  margin: 3px 4px;
  color: white;
}

.tag {
  background: #929292;
  padding: 2px 0;
  margin: 3px 4px;
  border-radius: 10px;
}
